@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kanit&family=Roboto+Slab:wght@700&family=Roboto:ital,wght@0,400;1,700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#010103;
    --border:.1rem solid rgba(255,255,255,.3)

}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: .5rem;
}

body{
    background: var(--bg);
}
.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}


.header .logo img{
    height: 9rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;

}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

}

.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position:absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);

}

.header .search-form label:hover{
    color: var(--main-color);
}

/* cart design */
.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%; 
    height: calc(100vh - 14.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
    overflow-y: scroll;
}
.header .cart-items-container.active{
    right:0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right:1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color: var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: var(--main-color);
   
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}



/* cart design end */

/* Cart design media queries start here */
@media (max-width:991px){
    html{
        font-size: 55%;    
    }  
    .header{
        padding: 1.5rem 2rem;

    }  
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }  
    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 20rem;
        height: calc(100vh - 15rem);
        
    }
    .header .navbar.active{
       right: 0; 
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;    
    }  
      
}
/* Cart design media queries end here */

   
   .card-slider .img-wrapper{
       max-width: 100%;
       height: 30vw;
       display: flex;
       justify-content: center;
       align-items: flex-start;
   }
   .card-slider img{
       max-width: 100%;
       max-height: 100%;
   }
.card-slider .card h5{
    font-size: 18px;
}

.card-slider .card a{
    width: 40%;
     height: 40px; 
     font-size: 15px;
}
@media screen and (min-width:576px) {
    .card-slider .carousel-inner{
        display: flex;
    }
    .card-slider .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);

    }
    .card-slider .img-wrapper{
    
        height: 23vw;
    }
    .card-slider .carousel-inner{
        padding: 1em;       
       }
       .card{
           margin: 0 .5em;
           border-radius: 0;
           box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 18);
       }
       .card-slider .carousel-control-prev .carousel-control-next{
        width: 6vh;
        height: 6vh;
        background-color: #e1e1e1;
        border: 50%;
        top:50%;
        transform: translateY(-50%);
        opacity: .5;
       }
       .card-slider .carousel-control-prev:hover,
        .carousel-control-next:hover{
            opacity: .8;
       }

}

/* about start here */
.about{
    width: 100%;
}
.about .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;

}
.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: #88941e;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content .article h4{
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
    color: #333;
}
.content .article .button{
    margin-top: 50px;
}
.content .article .button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: #88941e;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.content .article .button a:hover{
    color:#fff;
    background-color: #f28f92;
    transition: 1s ease;
}
.container .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}
.container .social i{
    color: #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: #f28f92;
    margin: 0px 5px;
}
.container .social i:hover{
    color:#fff;
    background-color: #88941e;
    transition: 1s ease;
    transform: rotate(360deg);
}
@media screen and (max-width: 768px){
    .about .container{
        width: 80%;
        display: block;
        margin: auto;
    }
    .container .title h1{
        margin-top: 10%;
        text-align: center;
        font-size: 30px;
    }
    .content{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        margin-top: 50px;

    }
    .image-section img{
        width: 70%;
        height: auto;
        display: block;
        margin: auto;
    }
    .container .article .button{
        text-align: center;
    }
    .container .article .button a{
        padding: 6px 15px;
        font-size:16px;

    }
    .container .social i{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
}


.extra-info h3{
line-height: 2;
padding: 10px;
}

/* contact start here */
.contact .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    
}
.contact .title h1{
   
    text-transform: uppercase;
    font-size: 35px;
    color: #88941e;
    
}
.contact .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
    margin-bottom: 5%;
}
.contact .row{
    display: flex;   
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex:1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;

}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.contact form  .btn{
width: 40%;
height: 40px;
text-align: center;
color: #fff;
background-color: #f4ba00;
font-size: 20px;
}

@media screen and (max-width: 568px){
    .contact .title{
        width: 100%;
        display: block;
        margin:auto;
    }
    .contact .title h1{
        margin-top: 25%;
        text-align: center;
        font-size: 25px;
    }
}

/* contact end here */

/* product page start here */
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card:hover{
    box-sizing: 20px 20px 80px -44px #000;
    transition: .5s ease-in-out;
    cursor: pointer;
   
}


